.env.example

NEXT_PUBLIC_SUPABASE_URL=https://yaawhzzmvatqiownjvfy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_wi1-hC09eg3iYuSL8XEnuA_Nd6P9kHc
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=